$background: #242424;
$text-color: #DEDEDE;
$home-text-color: #ffffff60;
$home-main-text-color: #FF985F;
$card-background-color: #66666636;
$card-border-color: 2px solid #A84130;
$button-border-color: 1px solid #A84130;
$border-radius: 10px;

$main-font: 'Jura';

body {
    opacity: 0;
    transition: opacity 3s ease;
    overflow: hidden;

    &.loaded {
        opacity: 1;
        max-height: 100vh;
    }

    #content.slide-up-home-to-about {
        transition: transform 2.5s ease;
        transform: translateY(-26%);
    }

    #content.slide-up-home-to-project {
        transition: transform 2.5s ease;
        transform: translateY(-53%);
    }

    #content.slide-up-home-to-contact {
        transition: transform 2.5s ease;
        transform: translateY(-75%);
    }

    #slide-up-project-to-contact {
        transition: transform 2.5s ease;
        transform: translateY(-10%);
    }

    #content.slide-down-about-to-home {
        transition: transform 2.1s ease;
        transform: translateY(0%);
    }

    #content.slide-down-contact-to-project {
        transition: transform 2.1s ease;
        transform: translateY(-53%);
    }

    #content.slide-down-contact-to-about {
        transition: transform 2.1s ease;
        transform: translateY(-26%);
    }
}

html {
    background-color: $background;
    font-family: $main-font;
}