$background: #242424;
$text-color: #DEDEDE;
$home-text-color: #ffffff60;
$home-main-text-color: #FF985F;
$card-background-color: #66666636;
$card-border-color: 2px solid #A84130;
$button-border-color: 1px solid #A84130;
$border-radius: 10px;

$main-font: 'Jura';

body {
    opacity: 0;
    transition: opacity 3s ease;
    overflow: hidden;

    &.loaded {
        opacity: 1;
        max-height: 100vh;
    }

    #content.slide-up-home-to-about {
        transition: transform 2.5s ease;
        transform: translateY(-27%);
    }

    #content.slide-up-home-to-project {
        transition: transform 2.5s ease;
        transform: translateY(-54%);
    }

    #content.slide-up-home-to-contact {
        transition: transform 2.5s ease;
        transform: translateY(-75%);
    }

    #slide-up-project-to-contact {
        transition: transform 2.5s ease;
        transform: translateY(-11%);
    }

    #content.slide-down-about-to-home {
        transition: transform 2.1s ease;
        transform: translateY(0%);
    }

    #content.slide-down-contact-to-project {
        transition: transform 2.1s ease;
        transform: translateY(-54%);
    }

    #content.slide-down-contact-to-about {
        transition: transform 2.1s ease;
        transform: translateY(-27%);
    }

    .custom-alert {
        display: none;
        position: fixed;
        width: 303px;
        margin-top: -75vh;
        margin-left: 1vh;
        transform: translate(-50%, -50%);
        background-color: green;
        color: $text-color;
        font-size: 1.9vh;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        animation: slideIn 0.5s forwards;
    }
    
    .custom-alert.show {
        display: block;
    }
    
    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

html {
    background-color: $background;
    font-family: $main-font;
}

@media screen and (min-width: 1440px) and (max-width: 1650px) {
    body {
        #content.slide-up-home-to-about {
            transition: transform 2.5s ease;
            transform: translateY(-26.5%);
        }

        #content.slide-up-home-to-project {
            transition: transform 2.5s ease;
            transform: translateY(-53.7%);
        }

        #content.slide-down-contact-to-project {
            transition: transform 2.1s ease;
            transform: translateY(-53.7%);
        }

        #content.slide-down-contact-to-about {
            transition: transform 2.1s ease;
            transform: translateY(-26.5%);
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    body {
        #content.slide-up-home-to-about {
            transition: transform 2.5s ease;
            transform: translateY(-25.5%);
        }

        #content.slide-up-home-to-project {
            transition: transform 2.5s ease;
            transform: translateY(-53%);
        }

        #content.slide-down-contact-to-project {
            transition: transform 2.1s ease;
            transform: translateY(-53%);
        }

        #content.slide-down-contact-to-about {
            transition: transform 2.1s ease;
            transform: translateY(-25.5%);
        }

        .custom-alert {
            margin-top: -68vh;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        #content.slide-up-home-to-about {
            transition: transform 2.5s ease;
            transform: translateY(-24.5%);
        }

        #content.slide-up-home-to-project {
            transition: transform 2.5s ease;
            transform: translateY(-52.3%);
        }

        #content.slide-up-home-to-contact {
            transition: transform 2.5s ease;
            transform: translateY(-74%);
        }

        #content.slide-down-contact-to-project {
            transition: transform 2.1s ease;
            transform: translateY(-52.3%);
        }

        #content.slide-down-contact-to-about {
            transition: transform 2.1s ease;
            transform: translateY(-24.5%);
        }

        .custom-alert {
            margin-top: -68vh;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    body {
        #content.slide-up-home-to-about {
            transition: transform 2.5s ease;
            transform: translateY(-25.9%);
        }

        #content.slide-up-home-to-project {
            transition: transform 2.5s ease;
            transform: translateY(-53.9%);
        }

        #content.slide-down-contact-to-project {
            transition: transform 2.1s ease;
            transform: translateY(-53.9%);
        }

        #content.slide-down-contact-to-about {
            transition: transform 2.1s ease;
            transform: translateY(-25.9%);
        }

        .custom-alert {
            margin-top: -64vh;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    body {
        #content.slide-up-home-to-about {
            transition: transform 2.5s ease;
            transform: translateY(-25.5%);
        }

        #content.slide-up-home-to-project {
            transition: transform 2.5s ease;
            transform: translateY(-53.6%);
        }

        #content.slide-down-contact-to-project {
            transition: transform 2.1s ease;
            transform: translateY(-53.6%);
        }

        #content.slide-down-contact-to-about {
            transition: transform 2.1s ease;
            transform: translateY(-25.5%);
        }

        .custom-alert {
            margin-top: -64vh;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    body {
        #content.slide-up-home-to-about {
            transition: transform 2.5s ease;
            transform: translateY(-25%);
        }

        #content.slide-up-home-to-project {
            transition: transform 2.5s ease;
            transform: translateY(-53.3%);
        }

        #content.slide-up-home-to-contact {
            transition: transform 2.5s ease;
            transform: translateY(-75.2%);
        }

        #content.slide-down-contact-to-project {
            transition: transform 2.1s ease;
            transform: translateY(-53.3%);
        }

        #content.slide-down-contact-to-about {
            transition: transform 2.1s ease;
            transform: translateY(-25%);
        }

        .custom-alert {
            margin-top: -64vh;
        }
    }
}