#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    #logo {
        height: 8vw;
        width: 8vw;
    }
    
    #list-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-link {
        margin-left: 8vw;
        text-decoration: none;
        color: $text-color;
        font-size: 1.7vw;
    
    }
}
