{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{# {% block body %}
    <p id="welcome">Bienvenue</p>
    <p id="intro">PORTEFOLIO de Nicolas DESTEPHEN</p>
    <p id="welcome">Développeur web junior ...</p>
{% endblock %} #}
