{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    <div id="home-page-body">
        <div class="text-container">
            <p id="welcome" class="moving-text-left">Bienvenue</p>
            <p id="intro">PORTEFOLIO de Nicolas DESTEPHEN</p>
            <p id="fonction" class="moving-text-right">Développeur web full-stack junior ...</p>
        </div>
        {% include '/component/_slideButton.html.twig' %}
    </div>

    <div id="about-page" class="hidden">
        <div id="about-page-id">
            <div id="id-container">
                <h1 id="work">Développeur web et web mobile</h1>
                <h2 id="identification">Nicolas DESTEPHEN</h2>
            </div>
        </div>
        <div id="lala">
                <div id="about-container">
                    <h1 id="about-title">A propos ( )</h1>
                    <span id="about-description">
                        /* Ancien éducateur spécialisé en reconversion, j’ai terminé un bootcamp en développement Web & Mobile. 
                        J’ai choisi d’apprendre le PHP en premier langage de programmation mais toutes les technologies Web & Mobile m’intéressent.
                        Actuellement j’effectue un stage chez Numerilis où je developpe une application avec Symfony et React.
                        Je me dirige vers un profil full-stack. */
                    </span>
                </div>
                <img id="picture" src="{{ asset('build/images/picture.svg') }}">
                <div id="stack-container">
                    <h1 id="stack-title">Langages ( )</h1>
                    <span id="stack-description">
                        PHP - JS - HTML - CSS - SASS - SQL
                    </span>
                    <h1 id="framework-title">Frameworks ( )</h1>
                    <span id="framework-description">
                        Symfony - React - Bootstrap
                    </span>
                    <h1 id="gestionnaire-title">Gestionnaire ( )</h1>
                    <span id="gestionnaire-description">
                        Github - Composer - Yarn
                    </span>
                </div>
        </div>
        <div id="about-page-project">
            <div id="project-container">
                {% include '/component/_slideButton.html.twig' %}
                    <h1 id="project">Voir mes projets</h1>
                {% include '/component/_slideButton.html.twig' %}
            </div>
        </div>
    </div>

    <div id="project-page" class="hidden">
        <div id="title-container">
            <div id="main-title-project-container">
                <h1 id="main-title">Mes projets</h1>
            </div>
        </div>
        {% include '/component/_projectContainer.html.twig' with {'title': 'Numerilis','space': 'Stage', 'duration': '2 mois', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
        {% include '/component/_projectContainer.html.twig' with {'title': 'Portefolio','space': 'Projet personnel', 'duration': '2 semaines', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
        {% include '/component/_projectContainer.html.twig' with {'title': 'Origin\'s Digital','space': 'Projet d\'école', 'duration': '2 mois', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
        {% include '/component/_projectContainer.html.twig' with {'title': 'Cylaid','space': 'Projet d\'école', 'duration': '1 mois', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
        {% include '/component/_projectContainer.html.twig' with {'title': 'Projet Geralt','space': 'Projet d\'école', 'duration': '2 semaines', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
        {% include '/component/_projectContainer.html.twig' with {'title': 'Escapotron','space': 'Projet d\'école', 'duration': '24h', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
        {% include '/component/_projectContainer.html.twig' with {'title': 'Heaven\'s Hair','space': 'Projet d\'école', 'duration': '48h', 'link' : 'https://github.com/NicoDestephen/Portefolio.git'} %}
    </div>
{% endblock %}
