.splide {
    visibility: visible;
}

.splide__slide {
    display: flex;
    justify-content: center
}

.splide__arrow {
    background: $card-background-color;
    border: $button-border-color;
    svg {
        fill: $home-main-text-color;
    }
}

.splide__pagination {
    bottom: -0.2rem;
}

.splide__pagination__page.is-active {
    background: $home-main-text-color
}

#project-page {
margin-bottom: 4vh;

    #title-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;

        #main-title-project-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 11vh;
            width: 77vh;
            background-color: rgba(102, 102, 102, 0.2117647059);
            border: $card-border-color;
            border-radius: 10px;
        }
        
        #main-title {
            font-size: 5vh;
            color: $home-main-text-color;
        }
    }

    .project-field {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 56vh;
        width: 135vh;
        background-color: rgba(102, 102, 102, 0.2117647059);
        border: $card-border-color;
        border-radius: $border-radius;
        padding: 5vh;
        margin-bottom: 2vh;

        #project-infos {
            width: 50%;
            
            #project-title {
                color: $home-main-text-color;
                font-size: 4vh;
                font-weight: 700;
            }

            #project-description {
                display: flex;
                justify-content: space-around;
                margin: 3vh 0 0 0;

                #project-space {
                    display: flex;
                    align-items: center;
                    color: $text-color;
                    font-size: 2.6vh;
                    width: 43%;
                    margin-right: 14px;

                    #space-icon {
                        margin-right: 1vh;
                    }
                }

                #project-long {
                    display: flex;
                    align-items: center;
                    color: $text-color;
                    font-size: 2.6vh;
                    width: 43%;
                    margin-right: 14px;

                    #duration-icon {
                        margin-right: 1vh;
                    }
                }

                #project-link {
                    display: flex;
                    align-items: center;
                    color: $text-color;

                    #link-icon {
                        margin-right: 1vh;
                        width: 5vw;

                        &:hover {
                            filter: drop-shadow(#ff975f36 0rem 0rem 10px);
                        }
                    }
                }

                #project-git-link {
                    display: flex;
                    align-items: center;
                    color: $text-color;

                    #gitLink-icon {
                        margin-right: 1vh;
                        width: 3.6vw;

                        &:hover {
                            filter: drop-shadow(#ff975f36 0rem 0rem 10px);
                        }
                    }
                }
            }
        }

        .description {
            width: 100%;
            color: $text-color;
            font-size: 3.5vh;
            margin-top: 1vh;
            display: grid;

            p {
                color: $text-color;
                font-size: 2.3vh;
                padding: 1vh;
            }
        }

        #thumbnail-carousel {
            display: block;
            padding: 0 10vh 0 10vh;

            .splide__track {
                .splide__list {
                    .splide__slide {
                        justify-content: flex-start;

                        #thumbnail-field {
                                display: flex;
                                align-items: center;
                                width: 20vh;
                                height: 20vh;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                cursor: pointer;
                            }
                        }      
                    }
                }
            }
            
        }
    }

    .project-page-contact {
        display: flex;
        justify-content: center;
        margin-top: 1vh;

        #contact-field {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            height: 11vh;
            width: 77vh;
            background-color: $card-background-color;
            border: $card-border-color;
            border-radius: $border-radius;

            #contact {
                font-size: 5vh;
                color: $home-main-text-color;
            }
        
            #button {
                display: flex;
                justify-content: center;
                
                #bouton-slide {
                    height: 9vh;
                    width: 1vh;
                    border: $button-border-color;
                    border-radius: $border-radius;
                    background-color: $card-background-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1.4vh;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 0 10px $home-main-text-color;
                    }
        
                    .arrow {
                        width: 1.8vh;
                        margin: 0.2vh 0 0.2vh 0;
                    }
                }
            }
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding: 0.3%;
        width: 76%;
        height: 14.3%;
        margin-left: 12%;
        border-radius: 15px;
        background-color: rgb(0, 0, 0);
        background-color: rgb(0 0 0 / 88%);
        
            .modal-content {
                margin: auto;
                width: 80%;
                max-width: max-content;
                max-height: -webkit-fill-available;
            }
            
            .close {
                position: absolute;
                top: 15px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
            }

            #prev, #next {
                height: 5vh;
                margin: auto;
                background-color: $card-background-color;
                border: $button-border-color;
                border-radius: $border-radius;
                color: $home-main-text-color;

                &:hover {
                    box-shadow: 0 0 10px $home-main-text-color;
                }
            }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #project-page {
        .project-field {
            width: 111vh;
            #project-infos {
                #project-description {
                    #project-link {
                        #project-git-link {
                            #gitLink-icon {
                                width: 5vh;
                            }
                        }

                        #project-link {
                            #link-icon {
                                width: 6vh;
                            }
                        }
                    }
                }
            }

            #thumbnail-carousel {
                .splide__track {
                    .splide__list {
                        .splide__slide {
                            #thumbnail-field {
                                height: 17vh;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #project-page {
        .project-field {
            width: 72vh;

            #project-infos {
                width: 75%;

                #project-description {
                    #project-space {
                        font-size: 2vh;
                        width: 50%;
                    }

                    #project-long {
                        font-size: 2vh;
                        width: 50%;
                    }

                    #project-git-link {
                        #gitLink-icon {
                            width: 5vh;
                        }
                    }

                    #project-link {
                        #link-icon {
                            width: 6vh;
                        }
                    }
                }
                
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    #project-page {
        #title-container {
            #main-title-project-container {
                width: 50vh;
            }
        }

        .project-field {
            width: 59vh;

            #project-infos {
                width: 70%;

                #project-description {
                    justify-content: space-between;

                    #project-space {
                        font-size: 1.7vh;

                        #space-icon {
                            width: 4vh;
                        }
                    }

                    #project-long {
                        font-size: 1.7vh;

                        #duration-icon {
                            width: 4vh;
                        }
                    }

                    #project-git-link {
                        #gitLink-icon {
                            width: 5vh;
                        }
                    }

                    #project-link {
                        #link-icon {
                            width: 6vh;
                        }
                    }
                }
            }

            #thumbnail-carousel {
                .splide__track {
                    .splide__list {
                        .splide__slide {
                            #thumbnail-field {
                                width: 6vh;
                                height: 8vh;
                            }
                        }
                    }
                }
            }
        }

        .project-page-contact {
            #contact-field {
                width: 50vh;

                #button {
                    #bouton-slide {
                        height: 8vh;
                    }
                }
            } 
        } 
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #project-page {
        #title-container {
            #main-title-project-container {
                width: 50vh;
            }
        }

        .project-field {
            width: 52vh;

            #project-infos {
                width: 70%;

                #project-title {
                    font-size: 3.4vh;
                }

                #project-description {
                    justify-content: space-between;

                    #project-space {
                        font-size: 1.7vh;

                        #space-icon {
                            width: 4vh;
                        }
                    }

                    #project-long {
                        font-size: 1.7vh;

                        #duration-icon {
                            width: 4vh;
                        }
                    }

                    #project-git-link {
                        #gitLink-icon {
                            width: 5vh;
                        }
                    }

                    #project-link {
                        #link-icon {
                            width: 6vh;
                        }
                    }
                }
            }

            .description {
                p {
                    font-size: 2vh;
                }
            }

            #thumbnail-carousel {
                .splide__track {
                    .splide__list {
                        .splide__slide {
                            #thumbnail-field {
                                width: 6vh;
                                height: 8vh;
                            }
                        }
                    }
                }
            }
        }

        .project-page-contact {
            #contact-field {
                width: 50vh;

                #button {
                    #bouton-slide {
                        height: 8vh;
                    }
                }
            } 
        } 
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #project-page {
        #title-container {
            #main-title-project-container {
                width: 44vh;
            }
        }

        .splide__arrow {
            width: 1em;
            height: 1em;

            svg {
                height: 0.5em;
                width: 0.5em;
            }
        }

        .project-field {
            width: 45vh;

            #project-infos {
                width: 70%;

                #project-title {
                    font-size: 3vh;
                }

                #project-description {
                    justify-content: space-between;

                    #project-space {
                        font-size: 1.4vh;

                        #space-icon {
                            width: 3vh;
                        }
                    }

                    #project-long {
                        font-size: 1.4vh;

                        #duration-icon {
                            width: 3vh;
                        }
                    }

                    #project-git-link {
                        #gitLink-icon {
                            width: 5vh;
                        }
                    }

                    #project-link {
                        #link-icon {
                            width: 6vh;
                        }
                    }
                }
            }

            .description {
                p {
                    font-size: 1.9vh;
                }
            }

            #thumbnail-carousel {
                padding: 0 5vh 0 5vh;

                .splide__track {
                    .splide__list {
                        .splide__slide {
                            #thumbnail-field {
                                width: 6vh;
                                height: 8vh;
                            }
                        }
                    }
                }
            }
        }

        .project-page-contact {
            #contact-field {
                width: 44vh;

                #contact {
                    font-size: 4vh;
                }

                #button {
                    #bouton-slide {
                        height: 8vh;

                        .arrow {
                            width: 1.6vh;
                        }
                    }
                }
            } 
        } 
    }
}
