 <div id="button">
    <button id="bouton-slide">
        <img class="arrow" src="{{ asset('build/images/Arrow.svg') }}" alt="arrow">
        <img class="arrow" src="{{ asset('build/images/Arrow.svg') }}" alt="arrow">
        <img class="arrow" src="{{ asset('build/images/Arrow.svg') }}" alt="arrow">
        <img class="arrow" src="{{ asset('build/images/Arrow.svg') }}" alt="arrow">
    </button>
</div>