<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Portefolio de Nicolas Destephen. Développeur web full-stack junior. Stack : PHP/Symfony, HTML, CSS, Javascript/React, SASS, Bootstrap, Composer, Yarn, MySQL, Doctrine.">
		<meta name="keywords" content="Destephen, Nicolas, Développement, Web, Portefolio, Full-stack, Développeur, Junior, Alternance, PHP, Symfony, HTML, CSS, Javascript, React, SASS, Bootstrap, Composer, Yarn, MySQL, Doctrine">
		<meta name="robots" content="index, follow">
		<link rel="icon" type="image/png" href="{{ asset('build/images/logoCercle.svg') }}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

        <title>
            {% block title %}
                Portefolio DESTEPHEN Nicolas
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
            <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
            {% include '/component/_navbar.html.twig' %}
        {% endblock %}
        
        {% block body %}{% endblock %}
    </body>
</html>
