#about-page.slide-up {
    transition: transform 2.5s ease, opacity 2.5s ease;
    transform: translateY(-100%);
    opacity: 1;
}

#about-page.slide-up2 {
    transition: transform 2.5s ease, opacity 1s ease;
    transform: translateY(-350%);
    opacity: 0;
}

#about-page.slide-down {
    transition: transform 3.5s ease, opacity 1s ease;
    transform: translateY(100%);
    opacity: 0;
}

.hidden {
    display: none;
}

#about-page {  
    opacity: 0;

    #id-container, #project-container, #about-container, #stack-container {
        &:hover {
            box-shadow: 0 0 10px $home-main-text-color;
        }
    }

    #about-page-id, #about-page-project {
        display: flex;
        justify-content: center;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    
    #id-container, #project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 11vh;
        width: 77vh;
        background-color: $card-background-color;
        border: $card-border-color;
        border-radius: $border-radius;  
    }

    #work, #project {
        font-size: 5vh;
        color: $home-main-text-color;
    }

    #identification {
        font-size: 4vh;
        color: $text-color;
    }

    #lala {
        display: flex;
        justify-content: space-between;

        #picture {
            width: 44vh;
            height: 50vh;
        }

        #about-container, #stack-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            height: 50vh;
            width: 45vh;
            background-color: $card-background-color;
            border: $card-border-color;
            border-radius: $border-radius;
            padding: 1rem;
            margin-left: 4vh;
            margin-right: 4vh;
        }
    
        #about-title, #stack-title, #framework-title, #gestionnaire-title {
            font-size: 2.6vh;
            color: $home-main-text-color;
            margin-bottom: 1rem;
            line-height: 3vh;
        }
    
        #about-description {
            font-size: 2.6vh;
            line-height: 3vh;
            color: $text-color;
        }

        #stack-description, #framework-description, #gestionnaire-description {
            margin: 1rem 0 2rem 0;
            padding: 0 6rem 0 2rem;
            font-size: 2.6vh;
            line-height: 3vh;
            color: $text-color;
        }
    }

    #about-page-project {
        #project-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            height: 11vh;
            width: 77vh;
            background-color: $card-background-color;
            border: $card-border-color;
            border-radius: $border-radius;  
     
            #button {
                display: flex;
                justify-content: center;
                
                #bouton-slide {
                    height: 9vh;
                    width: 1vh;
                    border: $button-border-color;
                    border-radius: $border-radius;
                    background-color: $card-background-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1.4vh;
        
                    .arrow {
                        width: 1.8vh;
                        margin: 0.2vh 0 0.2vh 0;
                    }
                }
            }
        }
    }
}