.hidden {
    display: none;
}

#about-page {  
    margin-bottom: 30vh;

    #about-page-id, #about-page-project {
        display: flex;
        justify-content: center;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    
    #id-container, #project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 11vh;
        width: 77vh;
        background-color: $card-background-color;
        border: $card-border-color;
        border-radius: $border-radius;  
    }

    #work, #project {
        font-size: 5vh;
        color: $home-main-text-color;
    }

    #identification {
        font-size: 4vh;
        color: $text-color;
    }

    #lala {
        display: flex;
        justify-content: space-between;

        #picture {
            width: 44vh;
            height: 50vh;
        }

        #about-container, #stack-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            height: 50vh;
            width: 45vh;
            background-color: $card-background-color;
            border: $card-border-color;
            border-radius: $border-radius;
            padding: 1rem;
            margin-left: 4vh;
            margin-right: 4vh;
        }
    
        #about-title, #stack-title, #framework-title, #gestionnaire-title {
            font-size: 2.6vh;
            color: $home-main-text-color;
            margin-bottom: 1rem;
            line-height: 3vh;
        }
    
        #about-description {
            font-size: 2.6vh;
            line-height: 3vh;
            color: $text-color;
        }

        #stack-description, #framework-description, #gestionnaire-description {
            margin: 0.5rem 0 2rem 0;
            padding: 0 6rem 0 2rem;
            font-size: 2.6vh;
            line-height: 3vh;
            color: $text-color;
        }
    }

    #about-page-project {
        #project-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            height: 11vh;
            width: 77vh;
            background-color: $card-background-color;
            border: $card-border-color;
            border-radius: $border-radius;  
    
            #button {
                display: flex;
                justify-content: center;
                
                #bouton-slide {
                    height: 9vh;
                    width: 1vh;
                    border: $button-border-color;
                    border-radius: $border-radius;
                    background-color: $card-background-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1.4vh;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 0 10px $home-main-text-color;
                    }
        
                    .arrow {
                        width: 1.8vh;
                        margin: 0.2vh 0 0.2vh 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    #about-page {
        #lala {
            #about-description {
                font-size: 2.6vh;
                line-height: 2.7vh;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #about-page {
        #lala {
            #about-description {
                font-size: 1.8vh;
                line-height: 2.7vh;
            }

            #framework-description {
                font-size: 1.8vh;
                padding: 0 3rem 0 2rem;
            }

            #gestionnaire-description {
                font-size: 1.8vh;
                padding: 0 3rem 0 2rem;
            }

            #stack-description {
                padding: 0 3rem 0 2rem;
                font-size: 1.8vh;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #about-page {
        #lala {
            #picture {
                width: 24vh;
                height: 23vh;
                margin-top: 12vh;
            }

            #about-description {
                font-size: 1.8vh;
                line-height: 1.9vh;
            }

            #framework-description {
                font-size: 1.8vh;
                padding: 0 1rem 0 1rem;
            }

            #gestionnaire-description {
                font-size: 1.8vh;
                padding: 0 1rem 0 1rem;
            }

            #stack-description {
                padding: 0 1rem 0 1rem;
                font-size: 1.8vh;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    #about-page {
        #about-page-id, #about-page-project {
            margin-bottom: 1vh;
            margin-top: 1vh;

            #id-container {
                width: 50vh;
    
                #work{
                    font-size: 3.2vh;
                }
    
                #identification {
                    font-size: 3vh;
                }
            }
        }
        
        #lala {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            #about-container {
                height: 35vh;
                padding: 0.7rem;
                width: 53vh;

                #about-title {
                    margin-bottom: 1vh;
                }

                #about-description {
                    font-size: 2vh;
                    line-height: 2.7vh;
                }
            }

            #picture {
                display: none;
            }

            #stack-container {
                margin-top: 1vh;
                height: 22vh;
                width: 53vh;
                padding: 0.7rem;

                #stack-title, #framework-title, #gestionnaire-title  {
                    margin-bottom: 1vh;
                    font-size: 2.6vh;
                }

                #stack-description, #framework-description, #gestionnaire-description {
                    margin: 0 0 0 0;
                    padding: 0 0 0 1rem;
                    font-size: 2vh;
                    line-height: 2vh;
                }
            }
        }

        #about-page-project {
            #project-container {
                width: 50vh;
                height: 10vh;

                #project {
                    font-size: 4vh;
                }

                #button {
                    #bouton-slide {
                        height: 8vh;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #about-page {
        #about-page-id, #about-page-project {
            margin-bottom: 1vh;
            margin-top: 1vh;

            #id-container {
                width: 50vh;
    
                #work{
                    font-size: 3.2vh;
                }
    
                #identification {
                    font-size: 3vh;
                }
            }
        }
        
        #lala {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            #about-container {
                height: 35vh;
                padding: 0.7rem;
                width: 53vh;

                #about-title {
                    margin-bottom: 1vh;
                }

                #about-description {
                    font-size: 2vh;
                    line-height: 2.3vh;
                }
            }

            #picture {
                display: none;
            }

            #stack-container {
                margin-top: 1vh;
                height: 22vh;
                width: 53vh;
                padding: 0.7rem;

                #stack-title, #framework-title, #gestionnaire-title  {
                    margin-bottom: 1vh;
                    font-size: 2.6vh;
                }

                #stack-description, #framework-description, #gestionnaire-description {
                    margin: 0 0 0 0;
                    padding: 0 0 0 1rem;
                    font-size: 2vh;
                    line-height: 2vh;
                }
            }
        }

        #about-page-project {
            #project-container {
                width: 50vh;
                height: 10vh;

                #project {
                    font-size: 4vh;
                }

                #button {
                    #bouton-slide {
                        height: 8vh;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #about-page {
        #about-page-id, #about-page-project {
            margin-bottom: 1vh;
            margin-top: 1vh;

            #id-container {
                width: 44vh;
    
                #work{
                    font-size: 2.8vh;
                }
    
                #identification {
                    font-size: 3vh;
                }
            }
        }
        
        #lala {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            #about-container {
                height: 35vh;
                padding: 0.7rem;
                width: 53vh;

                #about-title {
                    margin-bottom: 1vh;
                }

                #about-description {
                    font-size: 1.7vh;
                    line-height: 2.3vh;
                }
            }

            #picture {
                display: none;
            }

            #stack-container {
                margin-top: 1vh;
                height: 22vh;
                width: 53vh;
                padding: 0.7rem;

                #stack-title, #framework-title, #gestionnaire-title  {
                    margin-bottom: 1vh;
                    font-size: 2.6vh;
                }

                #stack-description, #framework-description, #gestionnaire-description {
                    margin: 0 0 0 0;
                    padding: 0 0 0 1rem;
                    font-size: 1.8vh;
                    line-height: 2vh;
                }
            }
        }

        #about-page-project {
            #project-container {
                width: 44vh;
                height: 10vh;

                #project {
                    font-size: 4vh;
                }

                #button {
                    #bouton-slide {
                        height: 8vh;

                        .arrow {
                            width: 1.6vh;
                        }
                    }
                }
            }
        }
    }
}