.hidden {
    display: none;
}

#contact-page {
    #contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        color: white;
        width: 100%;
        height: 81vh;

        #title-container {
            display: flex;
            justify-content: center;
            width: 100%;
        
            #main-title-contact-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 11vh;
                width: 77vh;
                background-color: rgba(102, 102, 102, 0.2117647059);
                border: 2px solid #A84130;
                border-radius: 10px;
            }
            
            #main-title {
                font-size: 5vh;
                color: $home-main-text-color;
            }
        }

        #contact-page-logo {
            width: 40vh;
            height: 40vh;
            margin: 2vh 16vh 0vh 16vh;

            &:hover {
                filter: drop-shadow(#ff975f36 0rem 0rem 10px);
            }
        }

        #phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 10%;
            cursor: pointer;

            #phone-logo {
                width: 22vh;
                height: 24vh;

                &:hover {
                    filter: drop-shadow(#ff975f36 0rem 0rem 10px);
                }
            }

            #phone-info {
                #phone-number {
                    margin-left: 4vh;
                }

                #phone-copy {
                    margin-left: 1vh;
                }
            }
        }

        #mail {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 10%;

            #mail-logo {
                width: 21vh;
                height: 25vh;

                &:hover {
                    filter: drop-shadow(#ff975f36 0rem 0rem 10px);
                }
            }

            a {
                color: $text-color;
                text-decoration: none;
            }
        }

        #linkedin {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;

            #linkedin-logo {
                width: 25vh;
                height: 25vh;

                &:hover {
                    filter: drop-shadow(#ff975f36 0rem 0rem 10px);
                }
            }

            #linkedin-link {
                display: flex;
                flex-direction: column-reverse;
                text-align: center;
                text-decoration: none;
                color: $text-color;
            }
        }

        #github {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;

            #github-logo {
                width: 21vh;
                height: 25vh;

                &:hover {
                    filter: drop-shadow(#ff975f36 0rem 0rem 10px);
                }
            }

            #git-link {
                display: flex;
                flex-direction: column-reverse;
                text-align: center;
                text-decoration: none;
                color: $text-color;
            }
        }  
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #contact-page {
        #contact-container {
            #contact-page-logo {
                margin: 2vh 10vh 0vh 10vh;
            }

            #phone {
                margin-left: 0%;
            }

            #mail {
                margin-right: 0%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #contact-page {
        #contact-container {
            #contact-page-logo {
                margin: 2vh 0vh 0vh 0vh;
            }

            #phone {
                margin-left: 0%;

                #phone-logo {
                    width: 17vh;
                    height: 21vh;
                }
            }

            #mail {
                margin-right: 0%;

                #mail-logo {
                    width: 17vh;
                    height: 21vh;
                }
            }

            #github {
                #github-logo {
                    width: 17vh;
                    height: 20vh;
                }
            }

            #linkedin {
                #linkedin-logo {
                    width: 20vh;
                    height: 20vh;
                }
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    #contact-page {
        #contact-container {
            #title-container {
                #main-title-contact-container {
                    width: 50vh;
                }
            }
            #contact-page-logo {
                display: none;
            }

            #phone {
                margin-top: 35%;
                margin-right: 5%;
                margin-left: 0%;

                #phone-logo {
                    width: 10vh;
                    height: 10vh;
                }
            }

            #mail {
                margin-top: 35%;
                margin-left: 5%;
                margin-right: 0%;

                #mail-logo {
                    width: 10vh;
                    height: 10vh;
                }
            }

            #github {
                margin-top: 10%;
                margin-right: 5%;

                #git-link {
                    align-items: center;

                    #github-logo {
                        width: 10vh;
                        height: 10vh;
                    }
                }
            }

            #linkedin {
                margin-top: 10%;
                margin-left: 5%;

                #linkedin-link {
                    align-items: center;

                    #linkedin-logo {
                        width: 10vh;
                        height: 10vh;
                    }
                }  
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #contact-page {
        #contact-container {
            #title-container {
                #main-title-contact-container {
                    width: 50vh;
                }
            }
            #contact-page-logo {
                display: none;
            }

            #phone {
                margin-top: 35%;
                margin-right: 0%;
                margin-left: 0%;

                #phone-logo {
                    width: 10vh;
                    height: 10vh;
                }
            }

            #mail {
                margin-top: 35%;
                margin-left: 5%;
                margin-right: 0%;

                #mail-logo {
                    width: 10vh;
                    height: 10vh;
                }
            }

            #github {
                margin-top: 10%;
                margin-right: 5%;

                #git-link {
                    align-items: center;

                    #github-logo {
                        width: 10vh;
                        height: 10vh;
                    }
                }
            }

            #linkedin {
                margin-top: 10%;
                margin-left: 5%;

                #linkedin-link {
                    align-items: center;

                    #linkedin-logo {
                        width: 10vh;
                        height: 10vh;
                    }
                }  
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #contact-page {
        #contact-container {
            #title-container {
                #main-title-contact-container {
                    width: 44vh;
                }
            }
            #contact-page-logo {
                display: none;
            }

            #phone {
                margin-top: 25%;
                margin-right: 0%;
                margin-left: 0%;

                #phone-logo {
                    width: 10vh;
                    height: 10vh;
                }
            }

            #mail {
                margin-top: 10%;
                margin-left: 0%;
                margin-right: 10%;

                #mail-logo {
                    width: 10vh;
                    height: 10vh;
                }
            }

            #github {
                margin-top: 10%;
                margin-right: 0%;

                #git-link {
                    align-items: center;

                    #github-logo {
                        width: 10vh;
                        height: 10vh;
                    }
                }
            }

            #linkedin {
                margin-top: 10%;
                margin-left: 0%;

                #linkedin-link {
                    align-items: center;

                    #linkedin-logo {
                        width: 10vh;
                        height: 10vh;
                    }
                }  
            }
        }
    }
}